<html>
  <head>
    <link rel="stylesheet" href="./style.css" type="text/css" />
  </head>

  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <a :href="link"><img :src="image" :alt="altText"/></a>
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p v-if="isInStock()">In Stock - {{ quantity }}</p>
          <p v-else :class="{simpleClass: !isInStock()}">Out of Stock</p>

          <span v-if="onSale">On Sale</span>
          <span v-else>Not On Sale</span>

          <h2>Details</h2>
          <p>{{ description }}</p>
          <ul>
            <li v-for="d in details">{{ d }}</li>
          </ul>

          <h2>Variants</h2>
          <div
            v-for="variant in variants"
            :key="variant.variantID"
            class="color-box"
            :style="[styles.styleObject1, { backgroundColor: variant.variantColor }]"
            @mouseover="changeVariantImage(variant.variantImage)"
          ></div>

          <h2>Sizes</h2>
          <ul>
            <li v-for="size in sizes" :key="size.id">{{ size.value }}</li>
          </ul>

          <button
            v-on:click="addToCart()"
            :disabled="!isInStock()"
            :class="{ disabledButton: !isInStock() }"
          >
            Add to cart
          </button>
          <button
            v-on:click="removeFromCart()"
            :disabled="isCartEmpty()"
            :class="{disabledButton:isCartEmpty()}"
          >
            Remove From cart
          </button>

          <div class="cart">
            <p>Cart : {{ cart }}</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
